@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Be-Vietnam";
  src: url("/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf");
}
html {
  background: #20293a;
  color: #cdd5e0;
  font-family: "Be-Vietnam";
}
